package ${packagePath}.entity;

import lombok.Data;
import lombok.NoArgsConstructor;

import javax.persistence.*;
import javax.validation.constraints.NotNull;
import java.util.Date;

@Entity(name = "${tableName}")
@Data
@NoArgsConstructor
public class ${entityName}Entity {
#foreach($column in $columns)

    /** $!{column.comment} */
#if(${column.key})
    ${column.key}
#end
    @Column(name = "${column.columnName}"#if(${column.length}!=0), length = ${column.length} #end)
    private ${column.type} ${column.fieldName};
#end

}
